body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f6f6f6;
    line-height: 1.5;
    padding: 0px;
    margin: 0px;
    padding-top: 100px;
}

a{
    text-decoration: none;
}

#content{
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.application-section {
    max-width: 800px;
    margin-top: 50px;
    margin: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
  
  .application-section h1 {
    color: #4685de;
    margin-bottom: 10px;
  }
  
  .application-section p {
    margin-bottom: 20px;
  }
  
  .button-group {
    display: flex;
    flex-direction: column;
  }
  
  .apply-btn {
    margin-bottom: 10px;
    padding: 10px;
    color: white;
    background-color: #4685de;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .apply-btn {
    /* Rest of your CSS */
    transition: transform 0.3s ease;
    background-color: #325fcb;
    background-image: linear-gradient(to right, #4ae1fc, #9B69FC);
  }
  
  .apply-btn:hover {
    transform: scale(1.035);
    background-color: #325fcb;
    background-image: linear-gradient(to right, #9B69FC, #4ae1fc);
  }  
  
  .tab-section {
    max-width: 800px;
    margin: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .tab {
    margin-bottom: 20px;
  }
  
  .tab h2 {
    color: #be05f2;
    margin-bottom: 10px;
  }
  