body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    padding: 0;
    padding-top: 100px;
    margin: 0px;
}

@media screen and (max-width: 1099px) {
    .title {
        padding-top: 90px;
    }
}
  
  .title {
    text-align: center;
    color: #333;
    margin-bottom: 50px;
  }
  
  .tab-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;

  }
  
  .tab {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .tab:hover {
    background-color: #666;
  }
  
  .tabcontent {
    display: none;
    text-align: center;
  }
  
  .tabcontent h2 {
    color: #333;
  }
  
  .tabcontent img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100px;
    margin: 20px 0;
  }
  
  .tabcontent p {
    color: #666;
    margin: 0px 20px;
    margin-bottom: 50px;
  }
  
  button, .tab{
    font-size: calc(0.6vw + 0.6vh + 0.2cm);
  }

  .tab{
    margin: 4px;
  }
  
  @media screen and (max-width: 1099px) {
    button, .tab{
        font-size: calc(1.05vw + 1.05vh + 0.1cm);
    }
  }
  .footer-contact p, p.footer-copyright {
    font-size: calc(0.6vw + 0.6vh + 0.2cm) !important;
  }
  
  @media screen and (max-width: 1099px) {
    .footer-contact p, p.footer-copyright {
        font-size: calc(1.2vw + 1.2vh + 0.1cm) !important;
    }
  }