* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  .navbar {
    background-color: skyblue;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;  /* Add this line */
    width: 100%;  /* Add this line */
    top: 0;  /* Add this line */
    z-index: 100;  /* Add this line */
  }
  
  .navbar .logo {
    font-size: 1.5vw;
    font-weight: bold;
    color: white;
    text-decoration: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .navbar .logo:hover {
    text-decoration: none;
    color: white;
  }
  .navbar ul {
    list-style: none;
    display: flex;
  }
  .navbar ul li a {
    color: white;
    padding: 0 0.8vw;
    text-decoration: none;
    font-size: 1.2vw;
  }
  .navbar ul li a:hover {
    color: #5614d1;
  }
  .navbar .navbar-right {
    display: flex;
  }
  .navbar .navbar-right a {
    font-size: 1.5vw;
    padding: 0 0.8vw;
    text-decoration: none;
    color: white; /* Change color of social media icons */
  }
  .navbar-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    height: 25px;
    width: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 100;
  }
  .navbar-toggle div {
    width: 30px;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
  }
  .navbar ul.nav-active {
    transform: translateX(0);
  }
  .navbar .social-icons {
    display: none; /* Hide social media icons inside nav-links */
  }
  @media (max-width: 1000px) {
    .navbar {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .navbar .logo {
      font-size: 5vh;
      position: initial;
      transform: initial;
    }
    .navbar ul {
      flex-direction: column;
      width: 100%;
      position: fixed;
      top: 90px;
      left: 0;
      height: calc(100% - 70px);
      background: skyblue;
      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out;
    }
    .navbar ul li {
      opacity: 1;
    }
    .navbar ul li a {
      font-size: 2.5vh;
    }
    .navbar .navbar-right {
      display: none;
    }
    .navbar-toggle {
      display: flex;
    }
    .navbar .navbar-right a {
      font-size: 3.5vh;
    }
    .navbar .social-icons {
      display: block; /* Show social media icons inside nav-links for smaller screens */
    }
  }

/* Footer Styles */
.footer {
    background-color: #544BF5;
    color: #fff;
    padding: 40px;
    text-align: center;
}

.footer-contact {
    margin-bottom: 40px;
} 

.footer-contact p {
    margin: 0;
}

.footer-social {
    margin-bottom: 30px;
}

.footer-social a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer-message {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-message input,
.footer-message textarea {
    padding: 10px;
    margin-bottom: 12px;
    border: 4px solid #3873FF;
    border-radius: 8px;
}

.footer-message textarea {
    height: 80px;
    resize: none;
}

.footer-message input[type="submit"] {
    padding: 8px 40px;
    background-color: #fff;
    color: #3873FF;
    border: 4px solid #3873FF;
    border-radius: 8px;
    cursor: pointer;
}

.footer-message input[type="submit"]:hover {
    background-color:#89CFF0;
    color: #fff;
}

.footer-subscribe {
    margin-bottom: 40px;
}

.footer-subscribe h3 {
    margin-bottom: 10px;
}

.footer-subscribe input[type="email"],
.footer-subscribe input[type="submit"] {
    padding: 8px;
    border: 4px solid #3873FF;
    border-radius: 8px;
    margin-bottom: 10px;
}

.footer-subscribe input[type="submit"] {
    background-color: #fff;
    color: #3873FF;
    cursor: pointer;
    border-radius: 8px;
}

.footer-subscribe input[type="submit"]:hover {
    background-color: 	#89CFF0;
    color: #fff;
}

.footer-subscribe input[type="email"]:focus,
.footer-subscribe input[type="submit"]:focus {
    outline: none;
}

.footer-subscribe input[type="email"]::placeholder {
    color: #aaa;
}

.footer-subscribe input[type="submit"]::placeholder {
    color: #aaa;
}

.footer-subscribe input[type="submit"]:hover {
    background-color: 	#89CFF0;
    color: #fff;
}
