body{
    margin: 0px;
    padding: 0px;
    padding-top: 120px;
    font-family: serif;
}

@media  screen and (max-width: 1000px) {
    body{
        padding-top: 150px;
    }
}

.steps-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
  font-family: 'Playfair Display', serif;
}

.steps-container h2 {
  color: #4685de;
}

.steps-container p {
  color: #333;
  line-height: 1.5;
}

.steps {
  list-style-type: none;
  padding: 0;
}

.step {
  background-color: #f3f3f3;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.step h3 {
  color: #4685de;
}

.step h4 {
  color: #be05f2;
}

.step p {
  color: #333;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #be05f2;
  color: white;
  border-radius: 50px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #a303c7;
}

#bn{
  font-size: calc(0.56vw + 0.56vh + 0.2cm);
}

@media screen and (max-width: 1099px) {
  #bn{
      font-size: calc(1.05vw + 1.05vh + 0.1cm);
  }
}

.footer-contact, .footer-copyright{
  font-size: calc(0.6vw + 0.6vh + 0.2cm) !important;
}

@media screen and (max-width: 1099px) {
  .footer-contact, .footer-copyright{
      font-size: calc(1.35vw + 1.35vh + 0.1cm) !important;
  }
}