body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

p{
    font-size: calc(0.65vw + 0.65vh + 0.2cm);
}

h2{
    font-size: calc(1.05vw + 1.05vh + 0.2cm);
}

#board{
    margin-right: 25% !important;
    margin-left: 25% !important;
    margin: 0px;
}


.class-tab{
    min-height: fit-content;
}

#scienceC{
    margin-top: 0vmax;
}

#literacy{
    margin-top: 0vmax;
}

.attendance-tab button{
    margin-right: 25% !important;
    margin-left: 25% !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    margin: 0px;
}

button{
    font-size: calc(0.56vw + 0.56vh + 0.2cm);
}

.about-content p, .about-content button{
    align-items: center;
}

button{
    width: 50%;
    height: 7.5%;
    margin: 5px;
    align-self: center;
}

@media screen and (max-width: 1099px) {
    p{
        font-size: calc(1.2vw + 1.2vh + 0.1cm);
    }
    button{
        font-size: calc(1.05vw + 1.05vh + 0.1cm);
    }
    h2{
        font-size: calc(1.6vw + 1.6vh + 0.1cm);
    }
}
    

/* Home Page Styles */
.home {
    background-image: url('book.png');
    background-size: cover;
    background-position: center;
    background-color: #05cbf2;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#89CFF0;
    text-align: center;
    animation: slideIn 1s ease-in;
}

@keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}

h1{
    font-size: calc(1.25vw + 1.25vh + 0.3cm);
}

@media screen and (max-width: 1099px) {
    h1{
        font-size: calc(2.1vw + 2.1vh + 0.1cm);
    }
}
.home h1 {
    font-weight: bold;
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.home p {
    margin-bottom: 40px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.home button {
    padding: 10px 20px;
    background-color: #3873FF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
    background-image: linear-gradient(to right, #4A4DFC, #9B69FC);
}

.home button:hover {
    background-color: #325fcb;
    background-image: linear-gradient(to right, #9B69FC, #4ae1fc);
}

/* About Page Styles */
.about-section, .classes-we-offer, .college-prep-seminars, .articles, .attendance-tab, #body, .map {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

p{
    line-height: 1.5;
}

.college-prep-seminars p{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

button{
    margin-top: 5px !important;
}

.about-content {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.about-text, .about-video {
    flex: 1;
    margin: 10px;
    width: 100%;
    max-width: 800px; /* or adjust as needed */
}

.about-video {
    text-align: center;
}
  
  @media screen and (min-width: 1100px) {
    .about-content {
      flex-direction: row;
    }
    .about-text, .about-video {
      text-align: left; /* align the text to the left on larger screens */
    }
  }

@media screen and (max-width: 1099px) {
    .about-video {
        flex: 1;
        margin: 10px;
        position: relative;
        overflow: hidden;
        padding-top: 56.25%; /* for 16:9 aspect ratio */
    }
    
    .about-video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.about-content {
    display: flex;
    justify-content: space-between;
    text-align: left;
}
  
.about-text, .about-video {
    flex: 1;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
}

h2{
    text-align: center;
}

#classes-container, #articles-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}
  
.class-tab, .article-tab {
    background-color: #ADD8E6;
    border: 2px solid transparent;
    padding: 20px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    cursor: pointer;
    margin: 5px;
}
  
.class-tab:hover, .article-tab:hover {
    transform: scale(1.03);
    border: 2.5px solid #800080;
}
  
.article-tab {
    background-color: #ffffff;
    color: #4B0082;
    background-image: url('book.png');
}

.article-tab p {
    font-size: calc(0.55vw + 0.55vh + 0.2cm);
    color: #ffffff;
    text-shadow: 2px 2px 4px #6c66d6;
}

@media  screen and (max-width: 1099px) {
    .article-tab p {
        font-size: calc(0.97vw + 0.97vh + 0.1cm);
    }
}
    

.class-tab h3, .article-tab h3 {
    margin-bottom: 10px;
    color: #ffffff;
    text-shadow: 4px 4px 6px #443dce;
}

h3{
    font-size: calc(0.8vw + 0.8vh + 0.25cm);
}

@media screen and (max-width: 1099px) {
    h3{
        font-size: calc(1.4vw + 1.4vh + 0.1cm);
    }
}
  
#math{
    background-image: url('math.jpeg');
}

#science{
    background-image: url('science.jpeg');
}

#english{
    background-image: url('english.jpeg');
}

#computer{
    background-image: url('compsci.webp');
}

#history{
    background-image: url('history.jpeg');
}

#music{
    background-image: url('music.jpeg');
}

#language{
    background-image: url('language.jpeg');
}

#finances{
    background-image: url('finances.webp');
}   


#h3{
    text-shadow: 2px 2px 4px rgba(255, 255, 255);
}

h2 {
    color: #6B66D6; /* Purple */
}

button {
    background-color: #6B66D6; /* Purple */
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

nav button{
    background-color: #ffffff00;
    padding: 0px;
}

button:hover {
    background-color: #5a55c6;
}

nav button:hover {
    background-color: #ffffff00;
}
  
.map iframe {
    width: 100%;
    border: none;
    border-radius: 5px;
}

.slick-slide {
    margin: 10px;
}

/* Cloud Carousel */
.icon-cards {
    position: relative;
    width: 60vw;
    height: 40vw;
    max-width: 380px;
    max-height: 250px;
    margin: 0;
    color: white;
    perspective: 1000px;
    transform-origin: center;
}
  .icon-cards__content {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: translateZ(-30vw) rotateY(0);
    -webkit-animation: carousel 10s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
    animation: carousel 10s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
}
  .icon-cards__content.step-animation {
    -webkit-animation: carousel 8s infinite steps(1) forwards;
    animation: carousel 8s infinite steps(1) forwards;
}
  .icon-cards__item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 60vw;
    height: 40vw;
    max-width: 380px;
    max-height: 250px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    transform-origin: center;
}

.icon-cards__item:nth-child(1) {
    background: #FDD94F;
    background-image: url("cosmic.jpg");
    transform: rotateY(0) translateZ(35vw);
}
  .icon-cards__item:nth-child(2) {
    background: #F87949;
    background-image: url("kids.jpg");
    transform: rotateY(120deg) translateZ(35vw);
}
  .icon-cards__item:nth-child(3) {
    background: #FBAB48;
    background-image: url("cos3.jpg");
    transform: rotateY(240deg) translateZ(35vw);
}
  
@-webkit-keyframes carousel {
    0%, 17.5% {
      transform: translateZ(-35vw) rotateY(0);
    }
    27.5%, 45% {
      transform: translateZ(-35vw) rotateY(-120deg);
    }
    55%, 72.5% {
      transform: translateZ(-35vw) rotateY(-240deg);
    }
    82.5%, 100% {
      transform: translateZ(-35vw) rotateY(-360deg);
    }
}
  
@keyframes carousel {
    0%, 17.5% {
      transform: translateZ(-35vw) rotateY(0);
    }
    27.5%, 45% {
      transform: translateZ(-35vw) rotateY(-120deg);
    }
    55%, 72.5% {
      transform: translateZ(-35vw) rotateY(-240deg);
    }
    82.5%, 100% {
      transform: translateZ(-35vw) rotateY(-360deg);
    }
}
  
#body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background: #110F15;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 40px;
    border-bottom: #05cbf2 4px solid;
    border-top: #05cbf2 4px solid; */
}